<div class="container" [ngClass]="{signUpMode: isSignUp}">
    <div class="row">
        <div class="forms-container">
            <div class="signin-signup" [ngClass]="{transformClass: isSignUp}">
                <form [formGroup]="fb" class="sign-in-form">
                    <h2 class="title">Sign in</h2>
                    <div class="input-field" [ngClass]="{'invalid': l.email.errors && loginsubmitted }">
                        <i class="fas fa-user"></i>
                        <input type="email" formControlName="email" placeholder="Enter email.." /><br>
                        <div *ngIf="loginsubmitted && l.email.errors">
                            <span *ngIf="l.email.errors.required">Email is required</span>
                            <span *ngIf="l.email.errors.email">Email is invalid</span>
                        </div>
                    </div>
                    <div class="input-field" [ngClass]="{'invalid': l.password.errors && loginsubmitted }">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" formControlName="password" /><br>
                        <div *ngIf="loginsubmitted && l.password.errors">
                            <span *ngIf="l.password.errors.required">Password is required</span>
                            <span *ngIf="l.password.errors.minlength">Password must be at least 6 characters</span>
                            <span *ngIf="l.password.errors.maxlength">Password must be 10 character long</span>
                        </div>
                    </div>
                    <input type="submit" (click)="submit()" value="Login" class="btn solid" />
                    <p class="social-text">Or Sign in with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
                <form [formGroup]="register" class="sign-up-form">
                    <h2 class="title">Sign up</h2>
                    <div class="input-field" [ngClass]="{'invalid': r.name.errors && submitted }">
                        <i class="fas fa-user"></i>
                        <input type="text" formControlName="name" placeholder="Enter name .." /> <br>
                        <div *ngIf="submitted && r.name.errors">
                            <span *ngIf="r.name.errors.required">Name is required</span>
                        </div>
                    </div>
                    <div class="input-field" [ngClass]="{'invalid': r.email.errors && submitted }">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email" formControlName="email" /> <br>
                        <div *ngIf="submitted && r.email.errors">
                            <span *ngIf="r.email.errors.required">Email is required</span>
                            <span *ngIf="r.email.errors.email">Email is invalid</span>
                        </div>
                    </div>

                    <div class="input-field" [ngClass]="{'invalid': r.password.errors && submitted }">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" formControlName="password" /><br>
                        <div *ngIf="submitted && r.password.errors">
                            <span *ngIf="r.password.errors.required && submitted">Password is required</span>
                            <span *ngIf="r.password.errors.minlength">Password must be at least 6 characters</span>
                            <span *ngIf="r.password.errors.maxlength">Password must be 10 character long</span>
                        </div>
                    </div>
                    <input type="submit" (click)="submit()" class="btn" value="Sign up" />
                    <p class="social-text">Or Sign up with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                        ex ratione. Aliquid!
                    </p>
                    <button (click)="singUpMode()" class="btn transparent" id="sign-up-btn">
                        Sign up
                    </button>
                </div>
                <img src="img/log.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>One of us ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                        laboriosam ad deleniti.
                    </p>
                    <button class="btn transparent" (click)="singUpMode()" id="sign-in-btn">
                        Sign in
                    </button>
                </div>
                <img src="img/register.svg" class="image" alt="" />
            </div>
        </div>
    </div>
</div>

<jw-modal id="1">
    <p>{{message}}</p>
</jw-modal>